// main: linden.less

/**
 * Main Content Styling
 */
.main {
    background: #fff;
    left: 260px;
    max-width: 970px;
    min-height: calc(~"100vh - 40px");
    position: relative;
    width: calc(~"100% - 260px");
}

.header-always ~ .main {
    left: 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .header-tablets ~ .main {
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .header-phones ~ .main {
        left: 0;
        width: 100%;
    }
}

/**
 * Main Content Header
 */
.singular, .archive {
    > .entry-header h1 {
        margin: 0;
        padding: 40px 0 10px 0;
        text-align: center;
    }
}

.singular.portfolio > .entry-header h1 {
    text-transform: uppercase;
}

.singular.page > .entry-header h1, .archive > .entry-header h1 {
    color: @background;
    font-size: 5.0em;
    padding: 40px 0 30px 0;
    @media screen and (max-width: 767px) {
        font-size: 3em;
    }    
}

/**
 * Editable Text Styling
 */
.entry-content {
    p a {
        border-bottom: 1px dotted;
        border-bottom-color: @focus;
    }
    table {
        border: 1px solid @special;
        margin: 7px 0 21px 0;
        text-align: left;
        width: 100%;
    }  
    tr th, thead th {
        color: @heading;
        text-transform: uppercase;
        padding: 7px 22px;
    }   
    tr td {
        border-top: 1px solid @border;
        padding: 7px 14px;
    }
    ol {
        list-style: decimal;
        margin: 0 0 20px 20px;
        ol {
            list-style: lower-roman;
            margin: 3px 0 0 40px;	
            ol {
                list-style: lower-latin;
                margin: 3px 0 0 40px;
            }            	
        }        
    }
    ul {
        list-style: square;
        margin: 0 0 20px 20px;
        ul {
            list-style: disc;
            margin: 3px 0 0 40px;
            ul {
                list-style: circle;
                margin: 3px 0 0 40px;
            }           
        }        
    } 
    fieldset {
        border: 1px solid border;
        margin: 0 0 20px 0;
        padding: 20px;
        legend {
            font-weight: 700;
            padding: 0 20px;
        }        
    } 
    sup, sub {
        font-size: 0.8em;
    }
    .not-found & {
        p {
            text-align: center;
        }
    }                     
}

.wp-block-image {
    margin-bottom: 20px;
	figcaption {
		font-size: 0.9em;
	}
}