// main: ../linden.less

/**
 * Meta Components Styling
 */
.entry-meta {
	color: @link;
	font-size: 0.9em;
    font-family: 'MontSerrat', Arial, sans-serif;
    font-weight: 300;
    padding: 5px 0 15px 0;
    text-align: center;
    a {
        color: @dark;
        &:hover {
            color: @focus;
        }
    }
    .single-meta {
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
        i {
            margin-right: 3px;
        }
    }
    .posts & {
        text-align: left;
    }
}