// main: ../linden.less

//border-bottom: 1px solid #4093A6;

.read-more {
    display: block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;  
	text-align: right;
}