// main: ../linden.less
.project-item {
    position: relative;
    img, figure {
        margin: 0;
    }
}

.project-caption {
    background: rgba(255,255,255,0.9);
    border-radius: 50%;
    display: block;
    height: 260px;
    left: 50%;  
    margin: -130px 0 0 -130px;
    opacity: 1;
    overflow: hidden;
    padding: 80px 40px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transition: 250ms ease-out;
    width: 260px;
    z-index: 2;
    h2 {
        font-size: 1.9em;
    }
    &:hover {
        opacity: 0;
    }
}

.sub-title {
    color: @link;
    font-family: 'MontSerrat', Arial, serif;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;  
    .project-caption & {
        text-align: center;
    }   
}